{% extends 'main.html' %}

{% block content %}
    <style>
        input{
            width: 300px;
        }
        label{
            width: 120px;
            background-color: #ffc0cb35;
            border-radius: 5px;
        }
    </style>

    <h2>Update Profile</h2>
    <br>
    <a href="{% url 'profile' %}"><button style="padding: 3px 5px;">cancel</button></a>
    
    <form method="POST" style="margin-top: 50px;" class="form-slide">
        {% csrf_token %}
        <label for="">First Name:</label>
        <input type="text" name="first_name" placeholder="First Name" required value="{{ data.first_name }}"> <br><br>
        <label for="">Last Name:</label>
        <input type="text" name="last_name" placeholder="Last Name" required value="{{ data.last_name }}"> <br><br>
        <label for="">Email:</label>
        <input type="text" name="email" placeholder="Email" required value="{{ data.email }}"> <br><br>
        <label for="">Usename:</label>
        <input type="text" name="username" placeholder="Username" required value="{{ data.username }}">
        <br><br>

        <button type="submit">Save</button>
    </form>

{% endblock %}
