{% extends 'main.html' %}

{% block content %}

<style>
    p:last-of-type{
       margin-top: 30px;
        width: 500px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    p:last-of-type a{
        width: 120px;
        overflow: auto;
    }
    #report-clear_id{
        width: 50px;
        vertical-align: middle;
    }
</style>

<h1>Update Patient Record 🏥</h1>
<br>
<a href="{% url 'patient_list' %}"><button>Patient List</button></a>
<br><br>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Save</button>
</form>
<br><br>
{% endblock %}